# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
.idea/
vendor/
bin/
pkg/

# Files
*.log
*.test
*.prof
*.out
*.pid
*.zip
*.gz
*.tar.gz
*.exe
*.bak
*.env
*.DS_Store
